body{margin:0;text-align:left;background-color:lightgrey;min-height:450px;}

#header{background-color:black;min-height:120px;}
.header-title{color:white;text-align:left;font-style:italic;font-weight:bold;padding:10px;font-size:30px;}
.header-list li{color:white;display:inline;padding-right:20px;}

a{color:white;}
p {
 line-height:1.5;
}

img{height:50px;width:50px;border-radius:50px;margin:10px;}

button{border-radius:5px;margin:10px;padding:2px;border-color:gray;}

input{color:gray;}


.post-title{font-style:italic;font-weight:bold;}
.post-date{color:gray;
letter-spacing:0.1em;}
.post,.about{
background-color:white;
max-width:800px;
margin-left:100px;
padding: 30px 0;
}
