body{margin:0;text-align:left;background-color:lightgrey;min-height:450px;}

#header{background-color:black;min-height:150px;}
.header-title{color:white;text-align:left;font-weight:bold;font-size:30px;}
.header-list li{display:inline;padding:10px;}

.header-list{color:white;}
p {
 line-height:1.5;
}

img{height:50px;width:50px;border-radius:50px;margin:10px;}

button{border-radius:5px;margin:10px;padding:2px;border-color:gray;background-color:white}

input{color:gray;}


.post-title{font-weight:bold;}
.post-date{color:gray;}
.content{
background-color:white;
margin:300px 0 0 0;
padding:20px;
}
